.li{
    border-bottom: 1px solid gainsboro;
    list-style: none;
    width: 100%;
    height: 30px;
    line-height: 30px;

    display: flex;
    align-items: center;
    padding: 10px 0;
}
.mid{
    display: inline-block;
    flex:1;
    width: 100%;
    height: 100%;
}

.left{
    width: 30px;

}
.right{
    width: 25px;
    height: 25px;
}


div[select='true'] {
    text-decoration: line-through;
}